*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



/********************* NAVBAR CSS ******************/

.navbar{
    margin-top: 20px;
    height: 15vh;
    width: 100%;
    background: #ffffff;
    box-shadow: 0, 2px, 5px, #00000029;
}

.navbar img{
    margin: 0;
    padding: 0;
    height: 95px;
    width: 140px;
    padding: 13px 20px;
    margin-right: 30px;

}

.navbar a{
    color: #212529;
    text-decoration: none;
    float: right;
    padding: 25px;
    font-weight: bolder;
    font-size: 20px;
}

.navbar a:hover{
    color: blue;
}

.first-section img{
    position: relative;
}

.first-section .left-side-content{
    width: 50%;
    position: absolute;
    top: 80vh;
    background: transparent;
    background-color: #ffffff;

}

.first-section .left-side-content .heading{
    color: #626262;
    font-size: 70px;
    width: 50%;
    font-weight: lighter;
    letter-spacing: normal;
}

.first-section .left-side-content .sub-heading{
    color: #ea983e;
    font-size: 40px;
    font-weight: bolder;
}

.first-section .left-side-content iframe{
    width: 175px;
    height: 175px;
}

.first-section .left-side-content h2{
    color: #969696;
}